:local(span) {
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:local(i) {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
}

:local(.skill) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5
  rem;
}

:local(.skill__icon) {
  width: 3rem;
  height: 3rem;
  padding: 2rem 2.5rem 0.9rem 2.25rem;
}