:local(.root) {
  display: flex;
  justify-content: center;
  padding: 10rem 0 10rem 0;
}

@media(max-width: 1000px) {
  :local(.root) {
    flex-wrap: wrap;
    backgound-color:black;
  }
  :local(.icon) {
    margin: 15px;
  }
}
