:local(.root) {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  flex-direction: column;
}

:local(.section-heading) {
  composes: section-heading from '../Skills/Skills.css';
  color: black;
}

:local(.cards-container) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

:local(.heading) {
  composes: heading from '../Skills/Skills.css';
}

@media(max-width: 1200px) {
  :local(.cards-container) {
    flex-wrap: wrap;
    backgound-color:black;
  }
  :local(.icon) {
    margin: 15px;
  }
}
