:local(.root) {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  flex-direction: column;
}

:local(.section-heading) {
  composes: section-heading from '../Skills/style.scss';
  color: black;
}

:local(.portfolio__cards) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

:local(.heading) {
  composes: heading from '../Skills/style.scss';
}

@media only screen and (min-width: 1500px) {

}

@media only screen and (min-width: 1200px) {
  :local(.cards-container) {
    flex-wrap: wrap;
    background-color:black;
  }
  :local(.icon) {
    margin: 15px;
  }
}

@media only screen and (max-width : 900px) {
  :local(.root) {
    align-items: center;
    padding: 3rem 0 4rem 0;
  }
  :local(.section-heading) {
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  
}