:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.text) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

:local(.text-kenneth) {
  font-family: Arial, Helvetica, sans-serif;
  color: #37a5da;
  font-size: 3rem;
}

:local(.carousel-item) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 45rem;
  background-color: white;
}
/* 
:local(li) {
  height: 50px;
  width: 50px;
} */