:local(.root) {
  display: flex;
  justify-content: space-around;
  padding: 8rem;
  -webkit-transition: background-color 0.3s;
}

:local(.intro) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:local(.text) {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

:local(.text-kenneth) {
  font-family: 'Roboto', Geneva, sans-serif;
  color: #37a5da;
  font-size: 4rem;
  -webkit-transition: color 0.3s;
}

:local(.personal) {
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  width: 20rem;
  line-height: 1.6;
}


@media only screen and (min-width: 1500px) {
  :local(.personal) {

  }
}

@media only screen and (min-width: 1200px) {
  :local(.personal) {

  }
}

@media only screen and (max-width : 900px) {
  :local(.root) {
    flex-direction: column;
  }
  :local(.intro) {
    align-items: center;
  }
  :local(.text) {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
}

/* 
:local(.carousel-item) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40rem;
  background-color: white;
} */
/* 
:local(li) {
  height: 50px;
  width: 50px;
} */

/* 
:local(.root:hover) {
  background-color: #37a5da;
}

:local(.root:hover .text-kenneth) {
  color: white;
} */