:local(.root) {
  display: flex;
  justify-content: space-around;
  padding: 8rem;
  -webkit-transition: background-color 0.3s;
}

:local(.intro) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:local(.text) {
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
}

:local(.text-kenneth) {
  position: relative;
  font-family: 'Roboto', Geneva, sans-serif;
  color: #37a5da;
  font-size: 4rem;
  transition: all .5s;
}

:local(.text-kenneth:hover) {
  transform: translateY(-.5rem);

  :local(.text-kenneth__message) {
    display: inline-block;
  }
}

:local(.text-kenneth__message) {
  display: none;
  position: absolute;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
  width: 6rem;
  color: #000;
  bottom: 5rem;
  border: 2px solid #000;
}


:local(.text-kenneth__message::before) {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 1rem 1rem 0;
  border-style: solid;
  border-color: #000 transparent;
  top: 3.4rem;
  left: .2rem;
}

:local(.text-kenneth__message::after) {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 1rem 1rem 0;
  border-style: solid;
  border-color: #fff transparent;
  top: 3.2rem;
  left: .2rem;
}

:local(.personal) {
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  width: 20rem;
  line-height: 1.6;
}

:local(a) {
  text-decoration: none;
}


@media only screen and (min-width: 1500px) {
  :local(.personal) {

  }
}

@media only screen and (min-width: 1200px) {
  :local(.personal) {

  }
}

@media only screen and (max-width : 900px) {
  :local(.root) {
    flex-direction: column;
    padding: 5rem 0 5rem 0;
  }
  :local(.intro) {
    align-items: center;
  }
  :local(.text) {
    text-align: center;
  }
}
