// variables
$grid-padding: 2rem;
$grid-gutter-vertical: 2rem;
$grid-gutter-horizontal: 2rem;
$grid-col-padding: 1rem;
$grid-col-color: #d34137;
$text-color-light: #fff;

// TEXT
$text-color-light: #fff;
$text-color-dark: #000;
$color-dark: #a2a2a2;
