:local(.root) {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  width: 100%;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
}

:local(.button) {
  margin: 0px 30px 0px 0px;
}

:local(.typeography) {
  flex-grow: 1;
  margin: 0px 0px 0px 50px;
}