:local(.root) {
  display: flex;
  align-self: center;
  margin: 5rem 0 5rem 0;
  background-color: #37a5da;
  height: 0.5rem;
  animation: outward 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes outward {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}