:local(.root) {
  display: flex;
  align-self: center;
  margin: 1rem 0 1rem 0;
  background-color: #c2c2c2;
  height: 0.25rem;
  animation: outward 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes outward {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}