:local(.modal) {
  display: flex;
  position: fixed; /* Sit on top of the page content */
  justify-content: center;
  align-items: center;
  /* display: block; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  animation: fade-in 0.3s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade out backgroud */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:local(.modal__content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 60%;
  background-color: white;
  animation: slide-up 0.3s ease;
  border-radius: 3px;
  border: 0.1rem solid black;
  overflow: auto;
}

@media(max-width: 1200px) {
  /* :local(.content) {
    width: 60%;
    height: 60%;
  } */
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Remove overlay animation on click */
@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@media only screen and (min-width: 1500px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width : 900px) {
  :local(.content) {
    height: 80%;
  }
}
