:local(.root) {
  display: flex;
  flex-direction: column;
  padding: 7rem 0 7rem 0;
}

:local(.heading) {
  font-size: 2.5rem;
  background-color: #f7f7f7;
  padding: 2rem;
  padding-left: 15rem;
  /* align-self: center; */
  font-family: Work Sans,Helvetica,Arial,sans-serif
  /* font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}