:local(.root) {
  display: flex;
  flex-direction: column;
  padding: 7rem 0 7rem 0;
  background-color: #37a5da;
}
:local(.heading) {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  /* align-self: center; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}

:local(.section-icon) {
  composes: section-icon from '../App/App.css';
}

:local(i) {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
}

:local(i > span) {
  font-size: 1rem;
  padding-top: 1rem;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}