:local(.root) {
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  animation: slide-right 0.5s ease-in;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
