:local(.root) {
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  animation: slide-right 0.5s ease-in;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width: 750px) {
  :local(.root) {
    display: none;
  }
}
