:local(.root) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  margin: 0 3rem 0 3rem;
  border: 0.05em solid black;
  border-radius: 2px; 
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 750) {
  :local(.root) {
    margin: 3rem;
  }
  :local(.icon) {
    margin: 2rem;
  }
}
