:local(.root) {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin: 0px 25px 0px 25px;
  border: 0.05em solid black;
  border-radius: 2px; 
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 1000px) {
  :local(.root) {
    margin: 2rem 0 2rem 0;
  }
  :local(.icon) {
    margin: 2rem;
  }
}
