:local(.card) {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  margin: 2rem;
  border: 0.1em solid black;
  border-radius: 2px; 
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  flex-shrink:0;
}

:local(.card__technologies) {
  composes: technologies from '../App/style.scss';
  padding: 0.5rem;
  flex-wrap: wrap;
}

:local(.root:hover) {
  -webkit-box-shadow: 0px 0px 20px 8px #37a5da;
  /* box-shadow: 0px 0px 20px 8px #37a5da; */
  box-shadow: 0 25px 25px 5px #c2c2c2;
  transform: translateY(-0.5rem);
}