:local(.root) {
  composes: root from '../FrontEnd/FrontEnd.css';
}

:local(.icons) {
  composes: icons from '../FrontEnd/FrontEnd.css';
}

:local(.icon) {
  composes: icon from '../FrontEnd/FrontEnd.css';
}

:local(.heading) {
  composes: heading from '../FrontEnd/FrontEnd.css';
}