:local(.root) {
  composes: root from '../FrontEnd/FrontEnd.css';
}

:local(.heading) {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:local(.icons) {
  composes: icons from '../FrontEnd/FrontEnd.css';
}

:local(.icon) {
  composes: icon from '../FrontEnd/FrontEnd.css';
}

:local(.digitalOcean) {
  composes: icon;
  fill: #0080FF;
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#0080FF;
}

:local(.heroku) {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0 1rem 0 1rem;
}

