:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

:local(.text) {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  padding: 4rem;
}

:local(.import) {
  color: #0ba5ee;
  margin: 0px 15px 0px 0px;
  font-size: 2rem;
}

:local(.from) {
  color: #9e9e9e;
  margin: 0px 15px 0px 0px;
  font-size: 2rem;
}

:local(.documentation) {
  color: #24d639;
  font-size: 2rem;
}

:local(.semi) {
  composes: from from;
  margin: 0;
}

:local(.middle) {
  display: flex;
}

@media(max-width: 1000px) {
  :local(.root) {
    padding: 0;
  }
  :local(.text) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  :local(.middle) {
    flex-wrap: wrap;
    justify-content: center;
  }
  :local(.icon) {
    margin: 15px;
  }
  
}

:local(.icon) {
  composes: icon from '../High/High.scss';
}