:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.text) {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:local(.import) {
  color: #0ba5ee;
  margin: 0px 15px 0px 0px;
}

:local(.from) {
  color: #9e9e9e;
  margin: 0px 15px 0px 0px;
}

:local(.documentation) {
  color: #24d639;
  margin: 0px 15px 0px 0px;
}

:local(.middle) {
  display: flex;
}

:local(.icon) {
  composes: icon from '../High/High.css';
}