:local(.root) {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 2rem;
  overflow: hidden;
}

:local(.icon) {
  margin: 0px 10px 0px 10px;
}

@media(max-width: 700) {
  :local(.root) {
    flex-wrap: wrap;
  }
}
