:local(.root) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 2rem;
  overflow: hidden;
  border-bottom: 1px solid black;
}

/* :local(.icon) {
  margin: 1rem;
} */

@media(max-width: 700) {
  :local(.root) {
    flex-wrap: wrap;
  }
}
