:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.icons) {
  display: flex;
  justify-content: center;
}

:local(.icon) {
  width: 4rem;
  height: 4rem;
  padding: 0 0.5rem 0 0.5rem;

}

:local(.heading) {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@media(max-width: 1000px) {
  :local(.icons) {
    flex-wrap: wrap;
  }
  :local(.icon) {
    margin: 1rem;
  }
}