:local(.iconGithub) {
  -webkit-animation: background-color 0.7s;
  transition: transform 0.3s;
}

:local(.iconGithub:hover) {
  transform: rotate(15deg);
  cursor: crosshair;
  /* background-color: white; */
  border-radius: 3px;
}