:local(.contact) {
  display: block;
  position: relative;
}

:local(.contact-github::after) {
  content: url('../../../../node_modules/simple-icons/icons/github.svg');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.75s;
}

:local(.contact-github:hover::after) {
  transform: scale(1.5);
  opacity: 0;
}

:local(.contact-gmail::after) {
  content: url('../../../../node_modules/simple-icons/icons/gmail.svg');
  display: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.75s;
}

:local(.contact-gmail:hover::after) {
  transform: scale(1.5);
  opacity: 0;
  background-color: #e46c64;
}

:local(.contact-linkedin::after) {
  content: url('../../../../node_modules/simple-icons/icons/linkedin.svg');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.75s;
}

:local(.contact-linkedin:hover::after) {
  transform: scale(1.5);
  opacity: 0;
  background-color: #0077b5;
}