:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.high) {
  display: flex;
  align-items: center;
}

:local(.icon) {
  width: 80px;
  height: 80px;
  margin: 0px 20px 0px 20px;
}