:local(.root) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 7rem 0;
}

:local(.high) {
  display: flex;
  align-items: center;
}

:local(.icon) {
  width: 6rem;
  height: 6rem;
  padding: 0 1rem 0 1rem;
}

:local(.quote) {
  font-family: "Courier New", Courier, monospace;
  padding: 0 0 4rem 0;
  font-size: 2rem;
}

@media(max-width: 1000px) {
  :local(.root) {
    padding: 0;
  }
  :local(.high) {
    justify-content: center;
    flex-wrap: wrap;
  }
  :local(.icon) {
    margin: 15px;
  }
}